*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.avro filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
data/raw/oil_india/documents/CDI2730P27.pdf filter=lfs diff=lfs merge=lfs -text
data/processed/extracted_items/ntpc_doc_tables.csv filter=lfs diff=lfs merge=lfs -text
data/reference/unspsc/oklahoma_unspsc.csv filter=lfs diff=lfs merge=lfs -text
data/reference/unspsc/unspsc_master.csv filter=lfs diff=lfs merge=lfs -text
data/raw/iocl/tenders/Future_Procurement_Plan25-26.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/iocl/tenders/Listof358itemsreservedforProcurementFromMSEsunderPPP-2012.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/iocl/tenders/RequiredServicesSupplyitems.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/29708_Click_here_to_view_Salient_Technical_Features.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/29741_cor_29741_10_1.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/29741_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/29708_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/29708_cor_29708_10_1.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30081_cor_30081_1_1.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30082_cor_30082_5_1.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30081_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30122_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30122_cor_30122_2_1.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30131_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30162_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30161_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30166_Click_here_to_view_Salient_Technical_Features.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30166_cor_30166_1_1.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30166_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30165_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30171_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30169_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
data/raw/ntpc/documents/30172_NIT_Download.pdf filter=lfs diff=lfs merge=lfs -text
